---
import Layout from '../../layouts/Layout.astro';
import MenuLayout from '../../layouts/MenuLayout.astro';
import './LaminatingWork.css';
---

<Layout title="Scheggia: Laminating Work">
    <MenuLayout heading="LAMINATING WORK">
        <h3>Content</h3>
    </MenuLayout>
</Layout>
