---
import { Icon } from 'astro-icon/components';

const { link, direction } = Astro.props;
---

<button class="btn--single">
    <div class="btn__white--bg">
        <a href={link}
            >{direction === 'right' ? <Icon name="mdi:triangle" style={{ marginTop: '5px', color: 'black', transform: 'rotate(90deg) scale(1.35)' }} /> : <Icon name="mdi:triangle" style={{ marginTop: '5px', color: 'black', transform: 'rotate(-90deg) scale(1.35)' }} />}</a
        >
    </div>
</button>

<style >
    button {
        width: 100 % ;
        max - width: 50 px;
        height: 50 px;
        font - family: inherit;
        text - transform: uppercase;
        text - align: center;
        display: flex;
        align - items: center;
        justify - content: center;
    }
    button.btn__white--bg {
        width: 100 % ;
        display: flex;
        align - items: center;
        justify - content: center;
        padding: 5 px 23 px;
        background: rgba(174, 161, 87, 0.6);
        box - shadow: inset 2 px 2 px 3 px rgba(0, 0, 0, 0.45);
    } 
</style>