---
import Layout from '../../layouts/Layout.astro';
import './Settings.css';
---

<Layout title="Scheggia: Settings">
    <h1>Settings</h1>
    <button><a href="../">back</a></button>
</Layout>

<script></script>
