---
import Layout from '../../layouts/Layout.astro';
import MenuLayout from '../../layouts/MenuLayout.astro';
import './SheetFeeder.css';
---

<Layout title="Scheggia: Sheet Feeder">
    <MenuLayout heading="SHEET FEEDER">
        <h3>Content</h3>
    </MenuLayout>
</Layout>
